<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Paul Tomlin" />
  <meta name="description" content="Learning PIC and electronics, making something cool." />
</head>

<body>
  <section class="sidebar">
    <section class="name">
      <a href="/">
        <span id="paul">Paul</span>
        <span id="tomlin">Tomlin</span>
      </a>
    </section>

    <section class="alt-text">&nbsp;</section>

    <!--
    <section class="meta">
      <a href="https://github.com/ptomli" id="github">
        <img src="/images/github.png" alt="github" title="@ptomli on GitHub" height="16" width="16" />
      </a>
      <a href="https://twitter.com/ptomli" id="twitter">
        <img src="/images/twitter.png" alt="twitter" title="@ptomli on Twitter" height="16" width="16" />
      </a>
    </section>
    -->
  </section>

  {{ content }}
</body>

</html>